<?xml version="1.0" encoding="utf-8"?>
<ProjectConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <InstalledVersion>90.452.7.0</InstalledVersion>
  <DateInstalled>2017-09-29</DateInstalled>
  <InstallationSourceLocation>C:\Soft\IFS_F1 Tools_Envecon\F1ToolsExternal\IFSApplicationFormsDevelopment</InstallationSourceLocation>
  <StableReleaseUpdateCenter>C:\Soft\IFS_F1 Tools_Envecon\F1ToolsExternal</StableReleaseUpdateCenter>
  <LocalProjectRoot>C:\Nikitha1</LocalProjectRoot>
  <TeamServerProjectRoot></TeamServerProjectRoot>
  <ItemTemplatesBaseVersion>9.0</ItemTemplatesBaseVersion>
  <DeployFilesFolder>C:\Nikitha1\DeployFiles</DeployFilesFolder>
  <WorkspaceFolder>C:\Nikitha1\Workspace</WorkspaceFolder>
  <ChangeLogURI>C:\Soft\IFS_F1 Tools_Envecon\F1ToolsExternal\IFSApplicationFormsDevelopment\changelog90.html</ChangeLogURI>
  <Configuration>External</Configuration>
</ProjectConfiguration>
