<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- 
  User settings default values. 
  This section contains settings that the developer specifies trought the option dialog
  and that is stored in isolated storage. These values is when existing default values.
  -->
  <NotifyNewReleasesDefaultValue>true</NotifyNewReleasesDefaultValue>
  <IncludeDevelopmentReleasesDefaultValue>false</IncludeDevelopmentReleasesDefaultValue>
  <!--
  Link Attributes
    Group - [APF|DOC|RUNTIME] specifies which group in the about dialog the link should be displayed.
    Menu - [TRUE|FALSE=Default] Set this attribute to true if the link should show up in the Development Tools menu also.
    OpenInternal - [TRUE|FALSE=Default] Specifies if a link should open in VisualStudio or in external application. 
          if set to true the user can override by holding down the shift button when selecting the menu item. 
          Note: this setting currently only apply to the menu. All links in the dialog will open externaly.
  Link Elements
    Title - This is the About box short general information.
    Description - The more detailed description also the "menu text" for menu links and "link text" in about dialog.
    URI - The resource identifier. 
  -->
  <Links>
    <Link Group="RUNTIME" Accessibility="Internal">
      <Title>Binary Patches</Title>
      <Description>Released and Planned Binary Patches</Description>
      <URI>http://wis.ifsworld.com/technology/f1_support/IFSEEBinaryDeliveryConcept.htm</URI>
    </Link>
    <Link Group="DOC" Menu="true" OpenInternal="true" Accessibility="Everyone">
      <Title>Documentation</Title>
      <Description>Developing Application Forms</Description>
      <URI>${DocRoot}/Foundation1/050_development/022_user_interface/045_ee_dev/027_apf_development/default.htm</URI>
    </Link>
    <!-- Unfortunatelly the forum cannot open as internal because VS will crash-->
    <Link Group="DOC" Menu="true" Accessibility="Internal">
      <Title>Collaboration</Title>
      <Description>Application Forms Developer Forum</Description>
      <URI>https://open.ifsworld.com/forum/Lists/IFSApplicationFormsDevToolsInternal/AllItems.aspx</URI>
    </Link>
    <Link Group="DOC" OpenInternal="true" Accessibility="Everyone">
      <Title>Documentation Site</Title>
      <Description>IFS Application Technical Documentation</Description>
      <URI>${DocRoot}/</URI>
    </Link>
    <Link Group="DOC" Menu="true" OpenInternal="true" Accessibility="Internal">
      <Title>Feedback</Title>
      <Description>Report a bug / request</Description>
      <URI>http://ifssupport/Default.aspx?node=237</URI>
    </Link>
  </Links>
</Config>